<p id="notice"><%= notice %></p>

<p>
  <strong>Final good outcome percent:</strong>
  <%= @gamble_result.final_good_outcome_percent %>
</p>

<%= link_to 'Edit', edit_gamble_result_path(@gamble_result) %> |
<%= link_to 'Back', gamble_results_path %>
