<footer class="footer">
  <small>
    The Value Health App
    by <a href="http://www.github.com/mittcoats">Mitt Coats</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://medicalethics.med.upenn.edu/">News</a></li>
    </ul>
  </nav>
</footer>